.App {
  font-family: 'Open Sans', sans-serif;
  color: #20301A;
}

.nav{
  background-color: #84bd00;
}
.header {
  padding: 60px;
  
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color:#84bd00;
    color: white;
    text-align: center;
  }

  .welcome{
    /* top: 124px;
    width: 100%;
    bottom: 80px;
    height: 100%; */
    /* margin-bottom: 506px;
    position:; */
    padding-bottom: 77px;
    padding-top: 180px
  }

  .fixed_header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
  }

  .welcome-message{
    text-align: center;
  }

  #welcome-info-big{
    font-size: 18px;
  }
   #welcome-info-small{
     padding-top: 55px;
   }
   .results{
     width:100%;
     height: auto;
   }

   .pieContainer{
     height: 200px;
     width: 100%
   }
   .pie{
    width: 50%;
    float: right;
    padding-left: 90px;
    margin-top: 50px;
    font-weight: bold;
   }
   .bar{
     height: 650px;
     width: 45%;
     float: left;
     margin-left: 0px;
     padding-left: 0px;
     text-align: left;
    margin-right: 30px;
    
    
   }
   .title{
     text-align: center;
   }
   .results-graphic{
     width:50%;
     height: auto;
   }

   .premium-graphic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;   }
  
  #start-calculator-button{
    top: 30px;
    background-color:#20301A;
    bottom: 20px
  }

  #start-calculator-button:hover{
    top:30px;
    background-color: #314928;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.14), 0 6px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  }

  .form{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px
  }

  .select-box{
    display: inline-flex;
    width: auto;
    margin: 30px
  }

  .form-label{
    font-size: 25px;
    color: #20301A
  }

  #checkbox{
    position:relative;
    margin-left:30px;
    padding-left: 25px
  }

  #radio{
    margin-left:30px;
    left: 40px;
  }

  .right{
    text-align:right;
  }

  #worker-table-left{
    width: 50%;
  }

  #worker-table-right{
    width: 50%;
    
  }

  .premium-message{
    text-align: left;
    margin-left: 5px;
  
  }

  .premium-header{
    padding-bottom: 5px;
  }

  .chart{
    box-shadow: none !important;
    
  }
.chart:hover{
 box-shadow:none !important;
}
  table.highlight > tbody > tr:hover {
 
    background-color: #84BD00 !important;
    font-size: 16px ;
    font-weight: bolder;
   
  }

#grand-total-row{
  background-color:#cff0cf;
  font-weight:bold;

}

#clear-button{
  top: 10px;
  background-color: #20301A;
}

.css-xb97g8.select__multi-value__remove{
  display: none;
}


/* .select__indicator.select__clear-indicator.css-tlfecz-indicatorContainer {
  display: none;
}
   
.css-6q0nyr-Svg{
  display: none;
}

.select__indicator.select__clear-indicator.css-tlfecz-indicatorContainer{
  pointer-events: none;
  
}

.css-6q0nyr-Svg{
  display:none
}

.css-1gtu0rj-indicatorContainer{
  display: none
} */

  /* ---------- */
  .divider {								/* minor cosmetics */
    display: table; 
    font-size: 24px; 
    text-align: center; 
    width: 75%; 						/* divider width */
    margin: 40px auto;					/* spacing above/below */
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 13px;							/* adjust vertical align */
    -moz-background-size: 100% 2px; 	/* line width */
    background-size: 100% 2px; 			/* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
    background-image: -webkit-linear-gradient(180deg, transparent, #000);
    background-image: -moz-linear-gradient(180deg, transparent, #000);
    background-image: -o-linear-gradient(180deg, transparent, #000);
    background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
    color: #000; padding: 0px 5px; width: auto; white-space: nowrap;

}
.divider span:last-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #000, transparent);
    background-image: -moz-linear-gradient(180deg, #000, transparent);
    background-image: -o-linear-gradient(180deg, #000, transparent);
    background-image: linear-gradient(90deg, #000, transparent);
}
























/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
